
{% for child0 in children %}{% if existsIn(child0, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child0.kind}} <a href={{child0.url}}>{{last(stripNamespace(child0.title))}}<a></b>{% if existsIn(child0, "brief") %}<br>{{child0.brief}}{% endif %}{% if existsIn(child0, "children") %}</summary>{% for child1 in child0.children %}
{% if existsIn(child1, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child1.kind}} <a href={{child1.url}}>{{last(stripNamespace(child1.title))}}<a></b>{% if existsIn(child1, "brief") %}<br>{{child1.brief}}{% endif %}{% if existsIn(child1, "children") %}</summary>{% for child2 in child1.children %}
{% if existsIn(child2, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child2.kind}} <a href={{child2.url}}>{{last(stripNamespace(child2.title))}}<a></b>{% if existsIn(child2, "brief") %}<br>{{child2.brief}}{% endif %}{% if existsIn(child2, "children") %}</summary>{% for child3 in child2.children %}
{% if existsIn(child3, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child3.kind}} <a href={{child3.url}}>{{last(stripNamespace(child3.title))}}<a></b>{% if existsIn(child3, "brief") %}<br>{{child3.brief}}{% endif %}{% if existsIn(child3, "children") %}</summary>{% for child4 in child3.children %}
{% if existsIn(child4, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child4.kind}} <a href={{child4.url}}>{{last(stripNamespace(child4.title))}}<a></b>{% if existsIn(child4, "brief") %}<br>{{child4.brief}}{% endif %}{% if existsIn(child4, "children") %}</summary>{% for child5 in child4.children %}
{% if existsIn(child5, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child5.kind}} <a href={{child5.url}}>{{last(stripNamespace(child5.title))}}<a></b>{% if existsIn(child5, "brief") %}<br>{{child5.brief}}{% endif %}{% if existsIn(child5, "children") %}</summary>{% for child6 in child5.children %}
{% if existsIn(child6, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child6.kind}} <a href={{child6.url}}>{{last(stripNamespace(child6.title))}}<a></b>{% if existsIn(child6, "brief") %}<br>{{child6.brief}}{% endif %}{% if existsIn(child6, "children") %}</summary>{% for child7 in child6.children %}
{% if existsIn(child7, "children") %}<details><summary>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<b>{{child7.kind}} <a href={{child7.url}}>{{last(stripNamespace(child7.title))}}<a></b>{% if existsIn(child7, "brief") %}<br>{{child7.brief}}{% endif %}{% endfor %}</details>{% else %}<br>{% endif %}{% endfor %}</details>{% else %}<br>{% endif %}{% endfor %}</details>{% else %}<br>{% endif %}{% endfor %}</details>{% else %}<br>{% endif %}{% endfor %}</details>{% else %}<br>{% endif %}{% endfor %}</details>{% else %}<br>{% endif %}{% endfor %}</details>{% else %}<br>{% endif %}
{% endfor %}
