---
{% if exists("title") -%}
title: '{{lower(title(kind))}} {{title}}'
{% else if exists("name") -%}
title: "{{name}}"
{% endif -%}
{% if exists("brief") -%}
description: '{{brief}}'
{% else if exists("summary") -%}
description: '{{summary}}'
{% else %}
description: "[No description available]"
{% endif -%}
{% include "meta" %}
---

{# {% if exists("title") -%} #}
{# # {{title}} #}
{# {% else if exists("kind") and kind != "page" -%} #}
{# # {{name}} {{title(kind)}} Reference #}
{# {% endif %} #}
