---
{% if exists("title") -%}
title: "{{title}}"
{% else if exists("name") -%}
title: "{{name}}"
{% endif -%}
{% if exists("summary") -%}
summary: "{{summary}}"
{% endif -%}
{% include "meta" %}
menu:
  documentation:
    parent: "GAMBIT_VERSION_HERE"
    identifier: {% if exists("title") -%} "GAMBIT_VERSION_HERE{{title}}" {% else if exists("name") -%} "GAMBIT_VERSION_HERE{{name}}"
{% endif -%}

weight: 20
---

{% include "custom_index.tmpl" %}

{% include "footer" %}
